body {
  margin: 0;
  overflow: hidden;
}

.sns {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  display: block;
  padding: 32px;
  font-size: 32px;
}